


  body {

    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    /* -webkit-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.99); 
    box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.99); */
  }

  /* nav {
    min-height: 50%;
  }

  .sec1 {
    margin-top: auto;
  } */

  .btn {
    --bs-btn-font-family: comfotaa, Verdana, Geneva, Tahoma, sans-serif !important;
    margin-left: 5rem;  
    background-color: #3b5998;
  }
  .btn-top {
    max-height: 1.8rem;
  }

  .form-control{
    width: 15vw;
  }

  .container{
    background-color: #ffffff;
  }

  .duplicate{
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: #dc3545;
  }

  .card-img-left {
    width: 45%;
    /* Link to your background image using in the property below! */
    background: scroll left url('https://images.unsplash.com/photo-1613687528267-a5e8dff89f39?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
    background-size: cover; 
  }
  
  .btn-google {
    color: white !important;
    background-color: #ea4335;
  }
  
  .btn-facebook {
    color: white !important;
    background-color: #3b5998;
  }

/* LOGIN */

/* .login {
    min-height: 100vh;
  } */
  
  .login-heading {
    font-weight: 300;
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }

  .pst{
    text-align:center;
    color: #ffffff;
    line-height: 1;
    font-weight: bold;
    letter-spacing: -0.02em;
    font-size: 2em;
    display:block;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-shadow: 2px 2px #000000;
  }

  .btn-primary {
    --bs-btn-bg: #121211;
  }

  .btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: #212121;
    border-color: var(--bs-btn-hover-border-color);
}

.testt {
  background: linear-gradient(to bottom, rgba(33, 37, 41, 0.90) 10%, rgb(3, 169, 244, 0.80) 100%), url('https://images.unsplash.com/photo-1613687528267-a5e8dff89f39?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
}

.logo {
  font-family: blendascript, Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 2px 2px #000000;
  font-size: 2.5em;
}

.comf {
  font-family: comfortaa, Verdana, Geneva, Tahoma, sans-serif;
}

.nav-link {
  font-family: comfortaa, Verdana, Geneva, Tahoma, sans-serif;
}

.bcg {
  background: linear-gradient(to bottom, rgba(33, 37, 41, 0.98) 10%, rgb(3, 169, 244, 0.88) 100%);
}