@font-face {
    font-family: comforta;
    src: url(../fonts/Comfortaa\ Regular\ 400.ttf);
  }
  @font-face {
    font-family: blendascript;
    src: url(../fonts/Blenda\ Script.otf);
  }

.logo{
    font-size: 3rem;
    font-family: blendascript, arial;
    margin-bottom: 0.8rem!important;
}
/* fixing logo classes to work with h1 instead of img */
/* nav.navbar.bootsnav.navbar-fixed.navbar-transparent .logo-scrolled,
nav.navbar.bootsnav.navbar-fixed.no-background .logo-scrolled{
    line-height: 0;
} */

nav.navbar.bootsnav.navbar-fixed .logo-display{
    color:white;
    opacity: 1;
}

nav.navbar.bootsnav.navbar-fixed.navbar-transparent .logo-display, nav.navbar.bootsnav.navbar-fixed.no-background .logo-display {
    color: black;
}

.logo.logo-scrolled{
    color: white;
}

.board-select {
    color: unset;
    background-color: unset;
    width: unset;
    border: unset;
    margin-right: 3rem;
}