@font-face {
    font-family: comforta;
    src: url(../fonts/Comfortaa\ Regular\ 400.ttf);
  }

@font-face {
    font-family: blendascript;
    src: url(../fonts/Blenda\ Script.otf);
  }

/* take out user agent padding from social media list*/
  ul.social-media {
    padding-inline-start: unset;
}

/* fixing logo classes to work with h1 instead of img */
.logo{
    font-size: 3rem;
    font-family: blendascript, arial;
    color: white;
}

 #top-logo{
    height: auto;
 }

@media (min-width:1024px){

    nav.navbar.bootsnav.navbar-fixed.navbar-transparent .logo{
    color: black;
    margin-bottom: 0.8rem!important;
    }

} 
@media (max-width:1024px){
    /* div.col-half.right{
        margin-bottom: 2vh;
    } */
    nav.navbar.bootsnav.no-full .navbar-collapse {
        max-height: 50vh; 
        overflow-y: hidden !important; 
    }
}

.board-select {
    color: unset;
    background-color: unset;
    width: unset;
    border: unset;
    margin-right: 3rem;
}

#map{
    width: 100%;
    height: 40vh;
    z-index: 19;

}

/* fixing modal padding-right */
.modal-open, .modal {
padding-right: 0px !important;
}

/* fixing boots nav menu toggle  */
nav.navbar.bootsnav .navbar-toggle{
    position: fixed;
    right: 10%;
}

/* rough fix of loader alignment */
.loader{
    width: auto;
    height: auto;
}


/* scrollbar customisation */

::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	/* border-radius: 10px; */
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 14px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

/* modal scroll fix */

.modal-open{
    overflow: initial;
}